# **Explore Data and Train Test Split**

You are required to

- Task 1: Import data
- Task 2: Explore data
- Task 3: Define y and X
- Task 4: Split data into train and test sample

Dataset 1  to predict survival of passengers on Titanic: https://github.com/ybifoundation/Dataset/raw/main/Titanic.csv

Dataset 2 to predict selling price of Headphones on Flipkart : https://github.com/ybifoundation/Dataset/raw/main/Flipkart%20Headphones.csv

In [1]:
import pandas as pd

In [2]:
titanic= pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Titanic.csv')

In [3]:
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [21]:
titanic.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [35]:
y=titanic['survived']
x=titanic[['pclass', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest']]

In [23]:
from sklearn.model_selection import train_test_split

In [36]:
x_train, x_test, y_train, y_test=train_test_split(x,y,train_size=0.7, random_state=2529)

In [39]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((700, 8), (300, 8), (700,), (300,))

In [40]:
x_train

,Model,Company,Color,Type,Average Rating,Number of Ratings,Maximum Retail Price,Discount
669,POKRYT Hot SaleASAP charging Version 5.0 Bluet...,POKRYT,Black,In the Ear,4.0,333036,1999,1100
583,N2B MAGNET-02 PACK OF 2 Bluetooth Headset,N2B,Black,True Wireless,3.5,35,1998,1744
688,"PunnkFunnk K20 Gaming Headset, Over Ear Gaming...",PunnkFunnk,Black,On the Ear,3.5,1713,2499,1550
422,Fire-Boltt BN1000 Bluetooth Headset,FIER,Black Red,In the Ear,4.0,1934,2499,1200
825,Tiitan N2 Bluetooth Headset,Tiitan,Black,In the Ear,3.6,1686,1599,1270
...,...,...,...,...,...,...,...,...
740,"SE WORLD P47 WIRELESS HEADPHONE Bluetooth, Wir...",SE,Black,On the Ear,3.8,42,1999,1600
399,FIER MAGNET-K1-I7 Pack of 3 Bluetooth Bluetoot...,FIER,Black,White,3.6,980,1999,1630
828,Togkart TWS i12 Bluetooth Headset,Togkart,Black,True Wireless,3.9,0,1499,1044
562,Mivi DuoPods M20 True Wireless Bluetooth Headset,Mivi,Blue,True Wireless,3.8,1748,2999,2200
352,DigiClues Bass-Dops Bluetooth Headset,DigiClues,Black,True Wireless,3.3,85,2999,2000

In [28]:
flipkart=pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Flipkart%20Headphones.csv')

In [29]:
flipkart.columns

Index(['Model', 'Company', 'Color', 'Type', 'Average Rating',
       'Number of Ratings', 'Selling Price', 'Maximum Retail Price',
       'Discount'],
      dtype='object')

In [37]:
y=flipkart['Selling Price']
x=flipkart[['Model', 'Company', 'Color', 'Type', 'Average Rating',
       'Number of Ratings', 'Maximum Retail Price',
       'Discount']]

In [31]:
from sklearn.model_selection import train_test_split

In [38]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7, random_state=2529)
x_train

,Model,Company,Color,Type,Average Rating,Number of Ratings,Maximum Retail Price,Discount
669,POKRYT Hot SaleASAP charging Version 5.0 Bluet...,POKRYT,Black,In the Ear,4.0,333036,1999,1100
583,N2B MAGNET-02 PACK OF 2 Bluetooth Headset,N2B,Black,True Wireless,3.5,35,1998,1744
688,"PunnkFunnk K20 Gaming Headset, Over Ear Gaming...",PunnkFunnk,Black,On the Ear,3.5,1713,2499,1550
422,Fire-Boltt BN1000 Bluetooth Headset,FIER,Black Red,In the Ear,4.0,1934,2499,1200
825,Tiitan N2 Bluetooth Headset,Tiitan,Black,In the Ear,3.6,1686,1599,1270
...,...,...,...,...,...,...,...,...
740,"SE WORLD P47 WIRELESS HEADPHONE Bluetooth, Wir...",SE,Black,On the Ear,3.8,42,1999,1600
399,FIER MAGNET-K1-I7 Pack of 3 Bluetooth Bluetoot...,FIER,Black,White,3.6,980,1999,1630
828,Togkart TWS i12 Bluetooth Headset,Togkart,Black,True Wireless,3.9,0,1499,1044
562,Mivi DuoPods M20 True Wireless Bluetooth Headset,Mivi,Blue,True Wireless,3.8,1748,2999,2200
352,DigiClues Bass-Dops Bluetooth Headset,DigiClues,Black,True Wireless,3.3,85,2999,2000